*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #f0f2f5;
}
.facebok{
    margin-top: 160PX;
    margin-left: 50PX;
}
H3{
    width: 300PX;
    margin-left: 75PX;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box{
background-color: white;
width: 100%;
height: 570px;


}
h1{
   padding-top: 10px;
   padding-left: 10px;
}
h5{
    padding-top: 10px;
    padding-left: 10px;
    color: grey;
}
.a{
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left:10px;
    padding-left: 10px;
    background-color: #f5f6f7;
    border: hidden;
    border: 1px black solid;
}
.b{
    width: 35%;
    height: 30px;
    margin-top: 20px;
    margin-left:5px;
    padding-left: 10px;
    background-color: #f5f6f7;
    border: hidden;
    border: 1px black solid;
}
.c{
    width: 30%;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    border: hidden;
    border: 1px black solid;
    width: 92%;
    background-color: #f5f6f7;
    padding-left: 10px;
}
.d{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 10px;
}
.e{
    width: 30%;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: #f5f6f7;
}
.f{
    border: 1px black solid;
    background-color:#f5f6f7 ;
    width: 27%;
    margin-left: 5px;
    padding-left: 10px;
    height: 25px;
    padding-top: 5px;
    display: inline-block;

}
.g{
    font-size: 10px;
    margin-left: 10px;
    margin-top: 10px;
    color: grey;

}
.h a{ 
    color: blue;
    text-decoration: none;
}
.h{
    font-size: 10px;
margin-left: 10px;
width: 90%;
margin-top: 20px;
color: grey;
}
.g a{
    color: blue;
}
button{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    background-color: green;
    border: none;
}

.container{
    display: flex;
    justify-content: center;
}
